* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-section {
  margin: 10px;
  margin: 20px auto;
  max-width: 1200px;
  margin-bottom: 80px; /* memberi ruang untuk footer */
  margin-top: 100px;
}

body {
  color: #333;
  overflow-x: hidden;
  min-height: 100vh; /* memastikan body minimal setinggi viewport */
}

h2 {
  /* margin-top: 100px; */
  /* padding-left: 55px; */
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #763996;
  margin-bottom: 20px;
}

p {
  /* padding-left: 55px; */
  padding-right: 55px;
  text-align: justify;
  margin-bottom: 20px;
}

form {
  max-width: 1200px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 2px solid #763996;
  border-radius: 8px;
  font-size: 16px;
  color: #c7c7c7;
  font-family: "Poppins", sans-serif;
}

.form-group input:focus,
select:focus {
  outline: none;
}

.form-section {
  min-height: calc(100vh - 140px); /* 70px untuk navbar + 70px untuk footer */
  padding-bottom: 80px; /* memberi ruang untuk footer */
}

.required {
  color: rgb(220, 29, 29);
}

button {
  background-color: #763996;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  display: block;
}

input:invalid,
select:invalid {
  color: gray;
}

input:valid,
select:valid {
  color: black;
}
