* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: transparent;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.navbar .logo .logo-image {
  height: 50px;
  width: auto;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #763996;
  transition: all 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #ff9934;
  text-decoration: underline;
  transition: all 0.3s ease;
}

.navbar nav ul li a::selection {
  color: #ff9934;
  text-decoration: underline;
}

.navbar-scrolled {
  background-color: #ffffff; /* Warna background saat digulir */
}

ul#navbar {
  list-style: none;
}

ul#navbar li {
  display: inline-block;
  padding: 0.3em 0.5em;
  position: relative;
  overflow: hidden;
}

ul#navbar li::before {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  transition: 0.4s;
  background-color: #ff9934;
}

ul#navbar:active::before,
ul#navbar:hover::before {
  left: 0%;
}

ul#navbar li a {
  text-decoration: none;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header {
  font-size: 32px;
  color: #763996;
  text-align: center;
  margin-bottom: 20px;
}

/* .line {
  display: block;
  width: 80px;
  height: 3px;
  background: linear-gradient(to right, purple, orange);
  margin: 10px auto;
} */

/* Container */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  padding: 30px;
  background-color: #fff;
}

.header {
  font-size: 24px;
  color: #763996;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Line under header */
.line {
  display: block;
  width: 620px;
  height: 3px;
  background: linear-gradient(to right, #763996, orange);
  margin: 10px auto;
  margin-right: 10px;
}

.text-section {
  margin-right: 55px;
  margin-left: 25px;
}

.text-section p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

.image-section img {
  max-width: 550px;
  border-radius: 8px;
  object-fit: cover;
  margin-top: 20px;
  align-self: flex-end;
  margin-right: 22px;
}

.main {
  text-align: center;
}

.title-container {
  text-align: center;
  margin: 30px;
}

.title {
  color: #763996;
  font-size: 24px;
  margin: 0;
}

/* Underline */
.underline {
  width: 80px;
  height: 3px;
  background: linear-gradient(to right, #763996, orange);
  margin: 10px auto 0;
}

/* Procedures Section */
.procedures-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.procedure-card {
  background-color: #763996;
  color: white;
  padding: 20px;
  border-radius: 15px;
  width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.procedure-card h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #eaeaea;
}

.procedure-card h3 {
  font-size: 20px;
  margin: 20px 0;
}

.lost-title {
  color: #ffa500;
}

.lost-items {
  color: #ffa500;
}

p.paragraf {
  text-align: left;
}

.find-items {
  color: #ffa500;
}

.procedure-card p {
  margin: 10px 0;
  font-size: 14px;
}

.procedure-card ol {
  text-align: left;
  /* padding: 0 25px; */
  font-size: 14px;
  color: #f3f3f3;
}

ol {
  text-align: left;
  margin: 0;
  padding-left: 15px;
  font-size: 20px;
  /* line-height: 1.6; */
}

li {
  margin-bottom: 5px;
}

/* Footer */
/* footer {
  background-color: #763996;
  color: white;
  text-align: right;
  padding: 15px 0;
  margin-top: 20px;
  font-size: 12px;
} */
