.titlepage {
  color: #763996;
  font-family: Poppins;
  font-size: 18px;
}
.rectangle {
  width: 950px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #763996;
}

.rectangle h2,
h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  padding-top: 22px;
  padding-left: 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.rectangle svg {
  position: relative;
  left: 850px;
  bottom: 90px;
  width: 60px; /* Atur lebar */
  height: 60px; /* Atur tinggi */
}
