@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
.container {
  width: 90%;
  margin: 20px auto;
  /* <!--tambah--> */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1 {
  color: #6a1b9a;
  text-align: left;
}

.dropdown {
  display: flex;
  width: 274px; /* Lost and Found */
  padding: 14px 20px;
  border-radius: 12px;
  border: 2px solid #763996;
  font-size: 16px;
  background-color: white;
  color: #c7c7c7;
}

.search-box {
  display: flex;
  width: 250px; /* Lebar search bar */
  height: 54px;
  padding: 0px 14px; /* Padding kiri dan kanan */
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #763996;
  color: #c7c7c7;
  font-size: 16px;
  background-color: white;
  margin-left: auto;
}
.dropdown select {
  border: none;
  outline: none;
  font-size: 16px;
  color: #3b3b3b;
  flex: 1;
  background: transparent;
  cursor: pointer;
}

.search-container {
  display: flex; /* Tata letak horizontal */
  justify-content: flex-start; /* Elemen mulai dari kiri */
  align-items: center; /* Luruskan secara vertikal */
  gap: 20px; /* Jarak antar elemen */
  margin-top: 20px; /* Jarak dari elemen sebelumnya */
  width: 100%; /* Pastikan kontainer memenuhi lebar layar */
}
.search-box input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #0b0a0a;
  flex: 1;
  background: transparent;
}

.search-box i {
  color: #800080;
  margin-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #6a1b9a;
  color: white;
}
.action-buttons {
  display: flex;
  flex-direction: column;
}
.action-buttons button {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.action-buttons button.delete {
  background-color: #d32f2f;
}
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }
  .search-container input {
    margin-left: 0;
    margin-top: 10px;
  }
  .search-container button {
    margin-left: 0;
    margin-top: 10px;
  }
}
